.input__container {
    display: inline-block;
}

input {
    width: 200px;
    margin: 15px;
    padding: 7px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid;
    outline: none;
}
