.container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
}

.container__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image {
    margin-bottom: 20px;
    width: 200px;
}

.paragraph {
    text-transform: uppercase;
    color: #e8790a;
    margin-bottom: 10px;
}

.btn {
    all: unset;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px 8px;
    cursor: pointer;
    color: #0ae875;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover {
    background-color: #0c949ea4;
    color: #fff;
    text-align: center;
    border: 1px solid #000000;
}
