.not__found__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #ff0000;
    margin-top: 100px;
    margin-bottom: 30px;
}

.link {
    all: unset;
    color: #00b7ffb6;
    cursor: pointer;
    text-transform: uppercase;
}

.link:hover {
    color: #008000af;
}
